<html>

<head>
    <style></style>
</head>

<body>
    <p>
        Hi <em> <%= obj['name']%></em> If you are trying to reset password, Please click here
    </p>
    <a href="<%= obj['link']%>">Reset Password</a>
</body>

</html>